@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Mont";
	src: url("/fonts/Mont-Black.ttf");
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
